



<div class=" d-flex justify-content-between align-items-center">
    <h1 class="category-title">All Cinemas</h1>
</div>

<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CinemaName</th>
            <th scope="col">Show Movies</th>
     
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td> <a href="/Customer/Cinema/ShowMovies?cinemaId=@item.Id" class="btn btn-primary">ShowMovies</a></td>
   

            </tr>
        }


    </tbody>
</table>

<div class="row d-flex ms-4" style="margin-bottom: 50px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @for (int i = 0; i <= ViewBag.paginationPages; i++)
            {
                <li class="page-item "><a class="page-link" href="/Customer/Cinema/Index?page=@(i+1)">@(i + 1)</a></li>
            }
            <li>
                <a href="/Customer/Cinema/Index" class="btn btn-primary ms-2">All Products</a>

            </li>


        </ul>
    </nav>
</div>